@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Outfit", sans-serif;
}

.logo-set {
  width: 180px;
  height: 60px;
}
.error-border {
  border: 1px solid #ff3860;
  height: 78px;
  border-radius: 3px;
  width: 303.5px;
}

.border-success {
  border: 1px solid rgb(170, 225, 170);
}

.mainClas {
  display: block;
}
.form label {
  font-weight: 1800;
  color: #192c57;
}

/* Application Page  Progress Bar Ahmed*/
.headng {
  font-size: 22px !important;
  color: #00b6ff !important;
  /* color: black !important; */
  font-weight: 600;
  width: 100%;
}
.form-check-input:checked {
  background-color: #1bb9f3 !important;
  /* border: none !important; */
  box-shadow: none !important;
}

.first-stepper .css-n7tliy-MuiStep-root:nth-child(2) {
  display: none;
}
.step_1_des {
  background-color: #01b3e480;
  width: 50%;
  color: rgb(224, 30, 30) !important;
  /* border-radius: 20px; */
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.step_1_de {
  /* background-color: #1A2C57; */
  width: 100%;
  color: white !important;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* height: 85px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  /* Adjust the width of the stepper for smaller screens */
  .css-163lrmv-MuiStepLabel-root .MuiStepLabel-label {
    font-size: 6px !important; /* Set the width you prefer for smaller screens */

    /* Other adjustments as needed */
  }
  /* .css-10mg1vw-MuiStepper-root{
    padding: 0px 40px;
  } */
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .css-163lrmv-MuiStepLabel-root .MuiStepLabel-label {
    font-size: 10px !important; /* Set the width you prefer for smaller screens */
  }
}
@media screen and (max-width: 768px) {
  .secondStepper .css-2s90m6-MuiAvatar-root {
    width: 22px !important;
    height: 22px !important;
  }
}
@media screen and (max-width: 768px) {
  .MuiStepConnector-line.MuiStepConnector-lineHorizontal.css-z7uhs0-MuiStepConnector-line {
    border-top-width: 4px !important;
  }
}
@media screen and (max-width: 768px) {
  .css-2s90m6-MuiAvatar-root {
    width: 22px !important;
    height: 22px !important;
  }
}
@media screen and (max-width: 575px) {
  /* .css-2s90m6-MuiAvatar-root{
     
    } */
}
@media screen and (max-width: 768px) {
  .css-1hv8oq8-MuiStepLabel-label {
    font-size: 7px !important;
  }
}

@media screen and (max-width: 768px) {
  .nineteenStepper .css-123rdn {
    width: 22px !important;
    height: 22px !important;
  }
}

.midc {
  color: #e50300 !important;

  text-align: center !important;
  font-family: Outfit !important;
  font-size: 1.375rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.responsive-image {
  max-width: 100%; /* Ensures image doesn't exceed its container */
  height: auto; /* Maintains aspect ratio */
}
.step2_content {
  color: #11b4e6;
  text-align: justify;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.step2_content h1 {
  text-align: center;
}
.step2_content p {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 22px;
  color: #11b4e6;
  text-align: center;
}

.step2_content ul {
  list-style: auto;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 22px;
  color: #00b6ff;
}
.step2_content .numb {
  border: 1px solid #11b4e6;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
}
.step2_content .rect {
  font-size: 20px;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: 3px solid blueviolet;
  color: blueviolet;
  margin: 0px 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.step2_content .p2 {
  font-weight: 500;
}
.step2_h5 {
  font-family: "Outfit";
  margin-left: 2px;
  font-size: 21px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  margin-bottom: 0px;
}
.step2_next {
  background-color: #00b6ff !important;
  padding: 16px 20px !important;
  border-color: #00b6ff !important;
  color: #1e30a8 !important;
  font-size: 20px;
  font-weight: bold !important;
}
.step2_next:hover {
  color: #1e30a8 !important;
  background-color: transparent !important;
}

.app_baar {
  position: relative;
  height: 120px;
  margin-bottom: 50px;
}
.app_bar2 .progres_man_div {
  align-items: baseline;
}
.progres_man_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -15px;
}

.myClas {
  display: none;
}

div.MuiStepConnector-root:nth-child(2) {
  display: none;
}

.optio {
  /* border: 1px solid #29abe2; */
  padding: 10px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
}

input.success {
  border-color: #09c372;
}
.success9 {
  border-color: "";
  border-radius: 4px;
}
input.error {
  border-color: #ff3860;
}

.img-applci {
  background-image: linear-gradient(#dff5fc, #dff5fc);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 60%;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid transparent;
}
.img-applci > h1 {
  color: rgb(245, 62, 62);
}
.containerr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #2e8a5f;
  /* Add additional styling as needed */
}

.itemm {
  display: flex;
  align-items: center;
  color: #2e8a5f;
}

.iconn {
  width: 30px; /* Set the width of the icon as needed */
  height: 30px; /* Set the height of the icon as needed */
  /* Additional icon styling */
}

.namee {
  margin-left: 15px;
  color: #2e8a5f; /* Adjust margin between icon and name */
  /* Additional name styling */
}

.buttonn {
  background: none;
  /* margin-right: 30px; */
  padding-right: 20px;
  border: none;
  padding: "0px";
  text-decoration: underline;
  color: #e92941;
  cursor: pointer;
  color: #2e8a5f;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.optio.error {
  border-color: #ff3860;
  border-radius: 4px;
}

.optio.success {
  border-color: #09c372;
  border-radius: 4px;
}

.error {
  border-color: #ff3860 !important;
  border-radius: 4px;
}

/* .form-check-input{
  border-color: red;
} */
.success {
  border-color: #09c372 !important;
  border-radius: 4px;
}

/* input.success{
  border-color: #09c372;
}
input.error{
  border-color: #ff3860;
} */
#qualifyForm {
  display: none;
}

#term_condition .modal-dialog {
  max-width: 800px;
}

.impot {
  background-color: #cceffa;
  padding: 20px 20px;
  border-radius: 10px;
}

.accordion-button::after {
  display: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  background-color: #29abe2;
}

.accordion-body a {
  color: #1a2c57;
}

.accordion-body p {
  text-align: center;
}

.impot p {
  margin-bottom: 0px;
}
.vertical-progress {
  display: flex;
  flex-direction: column-reverse; /* Reverse the direction to make it vertical */
}

.data-p {
  border-radius: 3px;
  margin-bottom: 10px;
}

.data-p p {
  margin-bottom: 0px;
  padding: 14px 10px;
  background-color: #cceffa9a;
  border-radius: 3px;
}

.logo-nav {
  width: 160px;
  height: 55px;
}

.progress-bar {
  background-color: rgb(13, 189, 243);
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: 600;
}

.start-application .row {
  margin-top: 18px !important;
}

.start-application .customRow {
  display: flex;
  flex-direction: row;
  margin-top: 18px !important;
}

.img-applic-content {
  /* padding: 50px 20px;

  height: 100%;
  color: #00b6ff !important;
  text-align: center; */
  padding: 40px;
  border: 4px solid #00b6ff;
  height: 100%;
  /* display: flex;
    flex-direction: column; */
  align-items: center !important;
  border-radius: 12px;
}
.MuiBox-root label {
  font-weight: 700;
  color: #192c57;
}
.img-applic1-content1 {
  /* padding: 50px 20px;

  height: 100%;
  color: #00b6ff !important;
  text-align: center; */
  padding: 50px 20px;

  height: 100%;
  /* display: flex;
    flex-direction: column; */
  align-items: center !important;
  border-radius: 12px;
}
.img-applic-content-congrts {
  /* padding: 50px 20px;

  height: 100%;
  color: #00b6ff !important;
  text-align: center; */
  padding: 10px 40px;
  border: 4px solid #00b6ff;
  height: 100%;
  /* display: flex;
    flex-direction: column; */
  align-items: center !important;
  border-radius: 12px;
}

.img-applic-content h2 {
  color: #000;

  text-align: center;
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.img-applic-content p {
  color: #000;

  text-align: justify;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.lo {
  width: 200px;
  opacity: 50%;
}

.tic img {
  width: 17px;
}

.tic p {
  margin-bottom: 0px;
}

.btn-apli {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.apli-button {
  background-color: #29abe2;
  color: white;
  width: 353px;
  height: 59px;
  border: 1px solid #29abe2;
  margin: 15px 0px;
  border-radius: 10px;
}

.apli-buttonn {
  background-color: transparent;
  color: #29abe2;
  width: 353px;
  height: 59px;
  border: 1px solid #29abe2;
  border-radius: 10px;
}

.col {
  color: #fc0707 !important;
  text-align: justify;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.apli-button-1 {
  background-color: #1a2c57;
  color: white;
  width: 353px;
  height: 59px;
  border: 1px solid #1a2c57;
  border-radius: 10px;
}

/* eligibilty-creteria */
.form-multistep {
  padding: 40px 0px;
  background-color: #cceffa78;
}

h3.plain {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
}

.base-container-small {
  max-width: 400px;
  width: 100%;
}

#submit-button {
  background-color: #29abe2;
  border-color: #29abe2;
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(20, 18, 22, 0.9);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  /* background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0); */
  padding: 0.625rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.0625rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.emailinput {
  display: block;
  width: 100%;
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(20, 18, 22, 0.9);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(20, 18, 22, 0.2);
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#exampleModal .modal-dialog {
  max-width: 700px;
}

.step-container {
  position: relative;
  text-align: center;
  transform: translateY(-43%);
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #007bff;
  line-height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  /* Added cursor pointer */
}

#multi-step-form label {
  font-weight: 700;
  color: #192c57;
}

.step-line {
  position: absolute;
  top: 16px;
  left: 50px;
  width: calc(100% - 100px);
  height: 2px;
  background-color: #007bff;
  z-index: -1;
}

.prev-step {
  background-color: transparent;
  border: 1px solid #1a2c57;
  color: #1a2c57;
  padding: 5px 35px;
  margin-right: 10px;
  border-radius: 5px;
}

.prev-pge {
  background-color: #1a2c57;
  border: 1px solid #1a2c57;
  color: #ffffff;
  padding: 5px 15px;
  margin-right: 10px;
}

.prev-step:hover {
  background-color: #1a2c57;
  border: 1px solid #1a2c57;
  color: #ffffff;
  padding: 5px 35px;
  margin-right: 10px;
  border-radius: 5px;
}

.next-step {
  background-color: #1a2c57;
  color: white;
  border: 1px solid #1a2c57;
  padding: 4px 35px;
  border-radius: 5px;
}

.next-step:hover {
  background-color: #1a2c5700;
  color: #1a2c57;
  border: 1px solid #1a2c57;
  padding: 4px 35px;
  border-radius: 5px;
}

#multi-step-form {
  overflow-x: hidden;
}

.fild {
  border: 1px solid gray;
  padding: 3px 10px;
  margin-bottom: 15px;
}

#multi-step-form h3 {
  color: var(--oxford-blue);
}

.warn {
  color: #e62e2d;
}

.optio p {
  border: 1px solid #29abe2;
  padding: 10px 10px;
  width: 100%;
  border-radius: 4px;
}

.optio .for {
  border: 1px solid #29abe2;
  padding: 10px 10px;
  width: 70%;
  border-radius: 4px;
}

.optio .date-picker {
  margin-left: 3px;

  border: 1px solid #29abe2;
  padding: 10px 10px;
  width: 100%;
  border-radius: 4px;
}

.optio p {
  margin-bottom: 0px;
}

.optio span {
  background-color: #29abe2;
  padding: 5px 10px;
  margin-right: 6px;
}

.main-ftr {
  border-top: 2px solid #29abe2;
  padding-top: 32px;
  padding-bottom: 100px;
}

.footer-logo {
  width: 130px;
  height: 55px;
  margin-bottom: 20px;
}

.ftr_top {
  float: left;
  width: 100%;
  background: var(--oxford-blue);
  /* margin-bottom: 25px; */
}

.main-ftr {
  padding-top: 32px;
  padding-bottom: 100px;
}

/* .ftr_top {
  background: #29abe2;
  padding: 40px 0px;
} */
.foort p {
  text-align: justify;
}

.footer-logo {
  width: 130px;
  height: 55px;
  margin-bottom: 20px;
}

.ftr_top {
  float: left;
  width: 100%;
  /* background: var(--oxford-blue); */
  /* margin-bottom: 25px; */
}

.footer-logo-w {
  height: 100%;
}

.ftr_top h2 {
  margin-bottom: 5px;
}

.ftr_top i {
  margin-right: 10px;
  color: var(--white);
}

.ftr_top p {
  font-size: 14px;

  text-align: justify;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.6em;
}
.confirm-modal {
  border: 3px solid #0d6efd;
}
.confirm-modal2 {
  border: 3px solid #1a2c57;
}
.go-on-btn:hover {
  color: #1a2c57;
  border-color: #1a2c57;
  background-color: transparent;
}
.go-on-btn:hover {
  color: #0d6efd;
  border-color: #0d6efd;
  background-color: transparent;
}

.status1.add {
  display: block;
}
.login-form {
  margin-top: 70px;
}
.otp-form {
  margin-top: 70px;
}
.index-content {
  margin-top: 70px;
}
/* Status Page */
.status-page {
  background-color: rgba(1, 179, 228, 0.05);
  /* padding: 50px 0px; */
  overflow: hidden;
  display: flex;
  margin-top: 70px;
}
.design-nav {
  height: 20px;
  width: 20px;
}
.status-page .progress {
  position: absolute;
  height: 480px;
  top: 130px;
  left: 65px;
  z-index: -1;
}
.contain {
  padding: 45px 0px;
  width: 100%;
}

.nav-link.active {
  /* Styling for the active link */
  color: blue; /* Change the color for the active link */
  font-weight: 600;
}

.status-progress {
  width: 100%;
  /* background-color: #1a2c57; */
  color: white;
  padding: 45px;
  position: relative;
  z-index: 2;
  height: 700px;
}
.status-heading {
  font-family: "Outfit";
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid rgba(1, 179, 228, 0.36);
  width: fit-content;
}
.navbar-nav {
  gap: 20px;
  align-items: center !important;
}
.status-div {
  margin: 25px 0px;
}
.input-status {
  background-color: rgba(1, 179, 228, 0.2);
  /* width: 182px; */
  width: 90%;
  height: 45px;
  top: 220px;
  left: 207px;
  border-radius: 5px;
  border: none;
}
.input-txt {
  font-family: "Outfit";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: justify;
}
.progress-status p {
  margin-bottom: 0px;
}
.progress-head {
  font-family: "Outfit";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: justify;
}
.progress-status {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 30px 0px;
  gap: 0px 12px;
  /* color: rgba(0, 0, 0, 0.5); */
}
/* .progress-status:active{
  background-color: #007bff;
} */
.btn-status {
  border: 1px solid white;
  color: white;
}
.btn-status:hover {
  border: 1px solid #11b4e6;
  background-color: #11b4e6;
  color: white;
}
.progrs-nmber {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid white;
  font-family: "Outfit";
  font-size: 18px;
  font-weight: 400;
  background-color: #192c57;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: justify;
}
.status-bottom-card {
  /* width: 679px; */
  /* height: 164px; */
  padding: 20px;
  border: 1px solid #0d99ff;
  background-color: #dde5eb;
}
.status-bottom-card h4 {
  color: rgba(252, 7, 7, 1);
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: justify;
}
.status-bottom-card p {
  font-family: "Outfit";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: justify;
}
.status-bottom {
  margin: 35px 0px;
}
.warning-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(1, 179, 228, 1);
  border-radius: 50%;
  color: rgba(1, 179, 228, 1);
}

.ppp2 {
  font-family: "Outfit";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: justify;
}
.btn-status1 {
  background-color: #1b1b43;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
}
.btn-status1:hover {
  background-color: transparent;
  border-color: #1b1b43;
  color: #1b1b43;
}
.full-width {
  width: 100% !important;
}
.pp1 {
  font-family: "Outfit";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: justify;
  margin-top: 12px;
}
.pp1 span {
  color: #11b4e6;
}
.file_div {
  margin: 20px 0px;
  background-color: rgba(26, 44, 87, 0.05);
  padding: 30px 15px;
}
.file_div .file {
  border: 1px solid rgba(1, 179, 228, 1);
  border-radius: 2px;
  width: 100%;
  background-color: rgba(1, 179, 228, 0.05);
}
.file_upload_btn {
  display: none;
  padding: 6px 15px;
  border-radius: 5px;
  margin: 0px 10px;
}
.file_div .button {
  /* font-size: 17px; */
  color: green;
}
.file_div h4 {
  color: rgba(26, 44, 87, 1);
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: justify;
}
.file_view_btn {
  display: none;
  padding: 6px 15px;
  border-radius: 5px;
  margin: 0px 10px;
}
.css-ha3bif-MuiTimelineItem-root:before {
  display: block !important;
  padding: 0 !important;
  flex: unset !important;
}

.checkBoxStepOne {
  margin-bottom: 18px;
}

@media (max-width: 767px) {
  .desktop-box {
    padding: 110px 20px !important;
  }
  .backGround {
    height: 32vh !important;
  }
  .start-application .customRow {
    display: flex;
    flex-direction: column;
    margin-top: 18px !important;
  }
  .img-applic-content-congrts {
    padding: 3px 2px !important;
  }
  .step2_next {
    padding: 10px 16px !important;

    font-size: 15px !important;
  }
  .step2_content {
    text-align: start;
  }
  #know_about_us {
    margin-top: 15px !important;
  }
  /* .checkBoxStepOne{
    margin-bottom: 65px;
  } */
  .roww {
    flex-direction: column-reverse;
  }
  .status-page {
    flex-direction: column;
  }
  .rt {
    margin-top: 0px !important;
  }
  .step_1_de {
    height: 60px;
  }
  .step_1_de h1 {
    width: 95% !important;
  }
}
.ROWW {
  justify-content: center;
}
.step2_content h1 {
  font-size: clamp(22px, 4vw, 42px);
}
@media (max-width: 990px) {
  .status-page {
    flex-direction: column;
  }
  .step2_content h1 {
    width: 100%;
  }
  .status-progress {
    width: 80%;
    background-color: #1a2c57;
    color: white;
    padding: 45px;
    margin: auto;
  }
  .contain {
    width: 80%;
    margin: auto;
  }
}
