.status-heading.nav-link.active {
    color: #1a2c57; /* Your desired color */
    text-shadow: 1px 1px #ded3d3;
  }
  .status-heading.nav-link {
    color: grey; /* Your desired color */
  }
  .MuiTimeline-root.MuiTimeline-positionRight.css-55vwbm-MuiTimeline-root {
    margin-top: -31px !important;
  }
  
  @media (max-width: 768px) {
    
  }
  